@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* font-family: "Work Sans", sans-serif; */
*{
    margin: 0;
    padding: 0;
}
.btn_container{
    text-align: center;
    
}
.btn{
    padding: 19px 28px 19px 28px;
    color: rgba(255, 255, 255, 1);

font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
background: rgba(82, 195, 3, 1);
border: none;
cursor: pointer;
}

    
#hero{
    height: 819px;
    background-image: linear-gradient(0deg, rgba(15.9375, 15.5390625, 15.5390625, 1),rgba(16, 16, 16, 0) 100%), url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
#hero .hero-content{
    width: 685px;
    
}
#hero .hero-content .subtitle{
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 11px;


}
#hero .hero-content .title{
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 18px;
}
#hero .hero-content .description{
    color: rgba(255, 255, 255, 1);

font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 32px;

}
#card-box{
    width: 885px;
    margin: 100px auto;
}

#card-box .title{
    color: rgb(16, 16, 16);
    font-family: work sans;
    font-size: 28px;
    font-weight: 700px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
#card-box .subtitle{
   color: rgba(16, 16, 16);

font-family: Work Sans;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
}


.card-container {
    font-family: Work Sans;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card{
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card .image-box{
    width: 280px;
}
.card .image-box img {
    width: 100%
    ;
}
.card .shop {
    background-color: aqua;  
    padding: 7px 18px 7px 18px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
   
}
.item{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.item-img{

}
.item-p{
    /* Frame 17 */
width: 805px;
height: 180px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
letter-spacing: 0%;
gap: 30px;
margin-top: 20px;}


.h1{
    color: rgba(16, 16, 16, 1);

font-family: Work Sans;
font-size: 30px;
font-weight: 500;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
margin-top: 2px;
/* padding: 240px 180px; */
}
.p1{
    color: rgba(16, 16, 16, 1);

font-family: Work Sans;
font-size: 20px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.p2{
    /* Follow Us On */
width: 207px;
height: 38px;
color: rgba(16, 16, 16, 1);

font-family: Work Sans;
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}

.icon{
    /* Frame 21 */
    margin: 10px auto;
width: 530px;
height: 188px;
/* Auto layout */
display: flex;

justify-content: flex-start;
align-items: center;
gap: 32;




}
.items-p{
    /* image 2 */
width: 1932px;
height: 671px;
margin-top: 30px;
justify-content: center;
align-items: center;
margin: 0 auto;
}